/* CSS Document */
body { margin: 0; padding: 0; background-color: #ebebeb }
body, input, select, textarea { font-family: Lucida Grande, Arial; font-size: 14px; color: #464646 }

/*.............................................................General.................... */
h1, h2, h3 { margin: 0; padding: 0; font-family: Georgia; font-weight: normal }
h1 { font-size: 32px }
h2 { font-size: 20px; font-family: Lucida Grande, Arial; }

.help h2 { color: #BE0000; cursor: pointer; font-family: Lucida Grande, Arial; font-size: 16px; line-height: 28px; border-bottom: 1px solid #eaeaea }

p { line-height: 20px }
ul { list-style: none; margin: 0; padding: 0 }

.author p { margin: 0; padding: 0 }
.forms { line-height: 2em }
.of { overflow: hidden }
.page { margin-bottom: 50px }

a { color: #464646; text-decoration: underline; outline: none }
a:hover { text-decoration: none }

.v-line { padding: 0 5px; color: #999999 }
.wrapper { margin: 0 auto; width: 1000px }

.content { background-color: #FFFFFF; border: 1px solid #bab9b9 }
.content.projects, .content.logins { width: 748px; float: left }
	.content.projects li { padding: 20px; border-bottom: 1px solid #bab9b9 }
		.content.projects li p { margin: 5px 0 0 0 }
	.content.projects li:last-child { border-bottom: none }

.client-list { width: 230px; float: right }
	.client-list li a { padding: 10px 20px; display: block; text-decoration: none; color: #464646; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px }
	.client-list li a:hover { background: #fafafa; color: #000 }
	.client-list li a.active { background: #fff; color: #000 }

.in { margin: 20px }
.line { border-top: 1px solid #bab9b9; height: 1px }

/*.............................................................Header.................... */
.logo { float: left; margin: 20px 0; font-size: 40px; line-height: 20px }
	.logo span { font-size: 16px; line-height: 8px; color: #666 }
.user { float: right; margin: 50px 0 0 0 }

input, select, textarea { border: 1px solid #bab9b9; padding: 5px; background: #fafafa; color: #707070; font-size: 14px }

.tiny { width: 120px }
.small { width: 200px }
.medium { width: 400px }
.large { width: 600px }
.hint { color: #999 }
.label { font-weight: bold; font-size: 11px; display: inline-block; width: 80px }

.button { margin: 0px; padding: 7px 13px; border: 0px; font-size: 14px; cursor: pointer; text-decoration: none }
.button:hover { text-decoration: none }
.continue { background-color: #f7941d; color: #fff }
.continue:hover { background-color: #f6ad58 }
.cancel { background-color: #ccc; color: #999 }
.cancel:hover { background-color: #eaeaea; }
.overlay { position: fixed; z-index: 10; background: #fff; opacity: 0.7; top: 0; right: 0; left: 0; bottom: 0; display: none }

div.actions { float: right; margin-top: -20px }

/*.............................................................Check YES or NO.................... */
.check { margin: 25px; text-align: left; padding: 10px 15px; border: 1px solid #bab9b9; background-color: #f7f7f7 }
.good {}
.icon { padding-right: 8px }
.bad {}

/*..................................................... Navigation .....................*/	
.navigation { background-color: #464646; margin-bottom: 20px; position:relative;}
	.navigation ul { margin:0px; padding:0px; }
		.navigation ul li { list-style:none; float: left; margin: 0; padding: 0 }
		.navigation ul li:first-child a { -webkit-border-top-left-radius: 3px; -moz-border-top-left-radius: 3px; border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; }
		.navigation li a { float:left; color:#fff; margin: 0; font-size: 14px; text-decoration: none; padding: 10px 20px;  }
		.navigation li a:hover, .navigation li .active { color: #FFFFFF; background-color: #BE0000; }
.clear{clear:both;}

/*............................... Search Form.....................*/	
#searchform { position: absolute; top: 3px; right: 3px }
.search-box { padding: 6px; color: #999999; font-size: 13px; margin: 0; background-color:#FFFFFF; border:1px solid #ccc;}
.search-btn { font-size: 13px }

.rounded { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px }
.rounded-top { -webkit-border-top-left-radius: 3px; -moz-border-top-left-radius: 3px; border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-top-right-radius: 3px; border-top-right-radius: 3px }
.rounded-bottom { -webkit-border-bottom-left-radius: 3px; -moz-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px }

table th:last-child { -webkit-border-top-right-radius: 3px; -moz-border-top-right-radius: 3px; border-top-right-radius: 3px }
table th:first-child { -webkit-border-top-left-radius: 3px; -moz-border-top-left-radius: 3px; border-top-left-radius: 3px }

/*.............................................................Footer................... */
.footer { text-align: right; margin-bottom: 40px }

/*.............................................................Table................... */
td, th { font-size: 13px }
td { padding: 8px; text-align: left; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc }
td:first-child { border-left: 1px solid #ccc }
tr.even { background: #fafafa }
th { background-color: #464646; color: #ccc; font-size: 80%; text-align: left; padding: 6px 8px }
th.actions { width: 80px }
th.login-type { width: 150px }
th.location { width: 200px }
th.password { width: 75px }
th.fav, th.redo, th.delete { width: 16px }
th.version { width: 20px }
td.home-login div { float: left; width: 50% }

.gray td { background-color:#f7f7f7 }

.login-box { display: none; position: absolute; top: 50%; left: 50%; margin: -100px 0 0 -150px; width: 300px; z-index: 11; -webkit-box-shadow: 3px 3px 2px rgba(50, 50, 50, 0.2); -moz-box-shadow: 3px 3px 2px rgba(50, 50, 50, 0.2); box-shadow: 3px 3px 2px rgba(50, 50, 50, 0.2); }
	.login-box .container { background: #fff; border: 5px solid #464646 }
	.login-box h2 { font-size: 14px; font-weight: bold; color: #fff; background: #464646; padding: 10px; }
	.login-box .form { padding: 20px 20px 10px; }
		.login-box .form input { display: block; width: 240px; margin-bottom: 10px; }
		.login-box .form input[type=checkbox] { width: auto; float: left; outline: none; border: none; }
		.login-box .form .remember-text { display: block; float: left; margin: 2px 0 0 10px; }
		.login-box .form .button { width: 250px; }

.filter { margin-bottom: 10px; }
	.filter .text { float: right; margin: 6px 0 0 10px; }
	.filter select { float: right; margin-left: 10px; }
	.filter input.button { float: right; margin-left: 10px; padding: 6px 13px }

/* Form stuff */
input.ng-dirty.ng-invalid, select.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid { border: 1px solid #ff0000 }

/* Tabs */
ul.tabs { overflow: visible; border-bottom: 1px solid #ccc; height: 30px; margin-bottom: 20px; line-height: 2em }
	ul.tabs li { float: left; cursor: pointer; border: 1px solid #ccc; border-bottom: none; padding: 1px 10px; margin-right: 5px }
	ul.tabs li.active { background: #fff; padding: 2px 10px 0 }
