<div class="content">
	<div class="in author">
		<h1>DASHBOARD</h1>
		<p>Manage and access your favourite login credentials.</p>
	</div>

	<div class="line"></div>

	<div class="in">
		<div class="rounded-top">
			<div ng-show="favourites.length">
				<table width="50%" border="0" cellspacing="0" cellpadding="0" class="table_main" >
					<tr>
						<th>LOGIN DETAILS - MY FAVOURITES</th>
					</tr>
					<tr ng-repeat="f in favourites">
						<td class="home-login">
							<div><span class="label">NAME</span> {{f.login.name}}</div>
							<div><span class="label">LOCATION</span> <span ng-bind-html-unsafe="f.login.location | usableLocation:f.login">{{f.login.location}}</span></div>
							<div><span class="label">LOGIN</span> {{f.login.login}}</div>
							<div><span class="label">PASSWORD</span> * * * * * * <img src="/img/copy.png" width="16" height="16" ng-mouseover="setPass()" ng-click="copyPass()" id="loginPass{{login.reference.id}}" /></div>
							<div><span class="label">CLIENT</span> {{f.login.project.client.name}}</div>
							<div><span class="label">PROJECT</span> {{f.login.project.name}}</div>
						</td>
					</tr>
				</table>
			</div>
			<div ng-hide="favourites.length">
				<p>You do not currently have any logins marked as favourite. Be sure to check the star icon on the left if you use a login often.</p>
			</div>
		</div>
	</div>
</div>