<div class="content">
	<div class="in author">
		<h1>DASHBOARD</h1>
		<p>Manage and access your favourite login credentials.</p>
	</div>

	<div class="line"></div>

	<div class="in">			
		<table width="100%" border="0" cellspacing="0" cellpadding="10" class="table_main" >
			<tr>
				<th class="login-type">TYPE</th>
				<th>LOCATION</th>
				<th>LOGIN</th>
				<th>NOTES</th>
				<th class="actions">ACTIONS</th>
			</tr>
			<!-- <tr ng-repeat="login in logins">
				<td>{{login.type}}</td>
				<td>{{login.location}}</td>
				<td>{{login.user}}</td>
				<td>{{login.protocol}}</td>
				<td><a href="#">Edit</a><span class="v-line">|</span><a href="#" class="delete">Delete</a></td>
			</tr> -->
		</table>				
	</div>
</div>