<div class="content">
	<div class="in author">
		<h1>LOGINS</h1>
		<p>Create and manage login locations, usernames, passwords and other related info.</p>

		<div class="actions">
			<a href="/logins/create" class="button continue rounded">CREATE LOGIN</a>
		</div>
	</div>

	<div class="line"></div>

	<div class="in">
		<div ng-show="logins.length" class="rounded-top">
			<div class="filter of">
				<input type="button" class="button cancel rounded" value="Reset" ng-click="reset()" />
				<select name="client" class="small" ng-model="client" ng-options="c.id as c.name for c in clients">
					<option value="">Client</option>
				</select>
				<select name="type" class="tiny" ng-model="type" ng-options="l.value as l.text for l in types">
					<option value="">Login type</option>
				</select>
				<select name="favourites" class="tiny" ng-model="favourites">
					<option value="">Favourites</option>
					<option value="true">Yes</option>
					<option value="false">No</option>
				</select>
				<div class="text">Filter by:</div>
			</div>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_main">
				<thead>
					<tr>
						<th class="fav"></th>
						<th>NAME</th>
						<th>LOCATION</th>
						<th>LOGIN</th>
						<th class="password">PASSWORD</th>
						<th>CLIENT</th>
						<th></th>
					</tr>
				</thead>
				<tbody ng-repeat="login in logins | logins">
					<tr ng-class-even="'even'" ng-show="login.login_id">
						<td><a href="" ng-click="setFavourite()"><img src="" lm-favourite-src /></a></td>
						<td><a href="/logins/edit/{{login.id}}" title="References: {{login.reference.name}}">{{login.name}}</a></td>
						<td ng-bind-html-unsafe="login.reference.location | usableLocation:login"></td>
						<td>{{login.reference.login}}</td>
						<td><div ng-show="login.reference.password.length">* * * * * * <img src="/img/copy.png" width="16" height="16" ng-mouseover="setPass()" ng-click="copyPass()" id="loginPass{{login.reference.id}}" /></div></td>
						<td><a href="/clients/edit/{{login.project.client_id}}">{{login.project.client.name}}</a></td>
						<td><a href="/logins/delete/{{login.id}}" ng-click="delete($event)"><img src="/img/delete.png" /></a></td>
					</tr>
					<tr ng-class-even="'even'" ng-hide="login.login_id">
						<td><a href="" ng-click="setFavourite()"><img src="" lm-favourite-src /></a></td>
						<td><a href="/logins/edit/{{login.id}}">{{login.name}}</a></td>
						<td ng-bind-html-unsafe="login.location | usableLocation:login"></td>
						<td>{{login.login}}</td>
						<td><div ng-show="login.password.length">* * * * * * <img src="/img/copy.png" width="16" height="16" ng-mouseover="setPass()" ng-click="copyPass()" id="loginPass{{login.id}}" /></div></td>
						<td><a href="/clients/edit/{{login.project.client_id}}">{{login.project.client.name}}</a></td>
						<td><a href="/logins/delete/{{login.id}}" ng-click="delete($event)"><img src="/img/delete.png" /></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-hide="logins.length">
			<p>There are currently no logins added. Please <a href="/logins/create">add one</a>.</p>
		</div>
	</div>
</div>