<div class="content">
	<div class="in author">
		<h1>LOGINS</h1>
		<p>Create and manage login locations, usernames, passwords and other related info.</p>

		<div class="actions">
			<a href="/logins/create" class="button continue rounded">CREATE LOGIN</a>
		</div>
	</div>

	<div class="line"></div>

	<div class="in">
		<div ng-show="logins.length" class="rounded-top">			
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_main">
				<tr>
					<th>NAME</th>
					<th>LOCATION</th>
					<th>LOGIN</th>
					<th class="password">PASSWORD</th>
					<th>CLIENT</th>
					<th></th>
				</tr>
				<tr ng-repeat="login in logins" ng-class-even="'even'">
					<td><a href="/logins/edit/{{login.id}}">{{login.name}}</a></td>
					<td ng-bind-html-unsafe="login.location | usableLocation"></td>
					<td>{{login.login}}</td>
					<td>* * * * * * <img src="/img/copy.png" width="16" height="16" ng-mouseover="setPass()" ng-click="copyPass()" id="loginPass{{login.id}}" /></td>
					<td><a href="/clients/edit/{{login.project.client_id}}">{{login.project.client.name}}</a></td>
					<td><a href="/logins/delete/{{login.id}}" ng-click="delete($event)"><img src="/img/delete.png" /></a></td>
				</tr>
			</table>
		</div>
		<div ng-hide="logins.length">
			<p>There are currently no logins added. Please <a href="/logins/create">add one</a>.</p>
		</div>
	</div>
</div>