<div class="content">
	<div class="in author">
		<h1>{{action}} LOGIN</h1>
		<p>{{action}} a login and add credentials.</p>
	</div>

	<div class="line"></div>

	<div class="in">
		<ul class="tabs" ng-show="action == 'EDIT'">
			<li ng-class="{active: activeTab == 'details'}" ng-click="setTab('details')">Details</li>
			<li ng-class="{active: activeTab == 'history'}" ng-click="setTab('history')">History</li>
			<li ng-class="{active: activeTab == 'logs'}" ng-click="setTab('logs')">Logs</li>
		</ul>

		<ng-include src="'/templates/logins/details.html'"></ng-include>
		<ng-include src="'/templates/logins/versions.html'"></ng-include>
		<ng-include src="'/templates/logins/logs.html'"></ng-include>
	</div>
</div>