<div class="content">
	<div class="in author">
		<h1>{{action}} LOGIN</h1>
		<p>{{action}} a login and add credentials.</p>
	</div>

	<div class="line"></div>

	<div class="in">
		<ul class="tabs" ng-show="action == 'EDIT'">
			<li ng-class="{active: activeTab == 'details'}" ng-click="setTab('details')">Details</li>
			<li ng-class="{active: activeTab == 'history'}" ng-click="setTab('history')">History</li>
			<li ng-class="{active: activeTab == 'logs'}" ng-click="setTab('logs')">Logs</li>
		</ul>

		<div ng-show="activeTab == 'details'" class="forms">
			<form method="post" ng-submit="saveLogin(this)">
				<p>
					<strong>PROJECT</strong><br />
					<select name="project_id" class="medium" ng-model="login.project_id" ng-options="p.id as p.name for p in projects">
						<option value=""></option>
					</select>
				</p>
				<p>
					<strong>LOGIN NAME</strong><br />
					<input type="text" name="name" class="medium" ng-model="login.name" required />
				</p>
				<p>
					<strong>REFERENCES</strong> <span class="hint">(select a previous login if this login references another in any way)</span><br />
					<select name="login_id" class="small" ng-model="login.login_id" ng-options="l.id as l.name for l in logins">
						<option value=""></option>
					</select>
				</p>
				<div ng-hide="login.login_id">
					<p>
						<strong>TYPE</strong> <span class="hint">(select what type of login this record is for)</span><br />
						<select name="type" class="small" ng-model="login.type" ng-options="l.value as l.text for l in types" ng-required="!login.login_id">
							<option value="">Select login type</option>
						</select>
					</p>
					<p>
						<strong>LOCATION</strong><br />
						<span id="locationProtocol">{{login.type | setProtocol}}</span><input type="text" name="location" class="small" ng-model="login.location" ng-required="!login.login_id" />
					</p>
					<p ng-show="ifMysql()">
						<strong>DATABASE</strong><br />
						<input type="text" name="database" class="small" ng-model="login.database" ng-required="!login.login_id && login.type == 'mysql'" />
					</p>
					<p ng-show="ifMysql()">
						<strong>PORT</strong><br />
						<input type="text" name="port" class="small" ng-model="login.port" />
					</p>
					<p>
						<strong>LOGIN</strong> <span class="hint">(user login credentials)</span><br />
						<input type="text" name="login" class="small" ng-model="login.login" ng-required="!login.login_id" />
					</p>
					<p>
						<strong>PASSWORD</strong><br />
						<input type="password" name="password" class="small" ng-model="login.password" ng-required="!login.login_id && action == 'edit'" />
					</p>
					<p>
						<strong>CONFIRM PASSWORD</strong> <span class="hint">(enter password again)</span><br />
						<input type="password" name="password_confirm" class="small" ng-model="login.password_confirm" ng-required="login.password && action == 'edit'" />
					</p>
					<p>
						<strong>NOTES</strong><br />
						<textarea type="text" name="notes" class="large" ng-model="client.notes" rows="5"></textarea>
					</p>
				</div>

				<p>
					<input type="button" class="button cancel rounded" value="CANCEL" ng-click="go('/logins')" />
					<input type="submit" class="button continue rounded" value="SAVE" />
				</p>
			</form>
		</div>

		<div ng-show="activeTab == 'history' && login.versions">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_main">
				<thead>
					<tr>
						<th class="redo"></th>
						<th class="version">#</th>
						<th>NAME</th>
						<th>LOCATION</th>
						<th>LOGIN</th>
						<th>CREATED</th>
						<th class="delete"></th>
					</tr>
				</thead>
				<tbody ng-repeat="v in login.versions">
					<tr ng-class-even="'even'">
						<td><a href="/versions/revert/{{v.id}}" ng-click="revert($event)"><img src="/img/redo.png" title="Revert" /></a></td>
						<td>{{login.versions.length - $index}}</td>
						<td>{{v.data.name}}</td>
						<td ng-bind-html-unsafe="v.data.location | usableLocation:v.data"></td>
						<td>{{v.data.login}}</td>
						<td>{{v.created_at}}</td>
						<td><a href="/versions/delete/{{v.id}}" ng-click="deleteVersion($event)"><img src="/img/delete.png" /></a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div ng-show="activeTab == 'logs' && login.logs">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_main">
				<thead>
					<tr>
						<th>LOG</th>
						<th>DATE/TIME</th>
					</tr>
				</thead>
				<tbody ng-repeat="l in login.logs">
					<tr ng-class-even="'even'">
						<td>{{l.message}}</td>
						<td>{{l.created_at}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>